
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center;
    width: 100%;
}

tr, td, th {
    border: 1px solid grey;
    padding: 12px;
}

caption {
    padding: 8px;
}

th {
    background-color: hsl(0, 0%, 50%,0.2);
}