
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

tr, td, th {
    border: 2px solid black;
}

td {
    padding: 8px;
}